name: Sync devcontainer images

on:
  schedule:
  - cron: "0 2 * * *"
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Sync
        run: |
          podman run \
            -v ~/.docker/config.json:/auth.json:ro \
            -v registries.yaml:/registries.yaml:ro \
            docker://quay.io/skopeo/stable:v1.10.0 sync \
            --all \
            --retry-times 3 \
            --authfile /auth.json \
            --src yaml \
            --dest docker \
            /repositories.yaml \
            ghcr.io/mcr-mirrors/devcontainers
